@import url("https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Pridi:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
}

/* Header Style */

.header-container {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  font-size: 1.1rem;
  font-weight: lighter;
  justify-content: space-between;
  font-family: "Julius Sans One", sans-serif;
  padding: 1.5rem 1rem 0rem;
}

.menu img {
  width: 2rem;
  height: auto;
  filter: invert(1);
}

.menu {
  display: none; /* Mostra o botão do menu */
}

.navbar a {
  color: white;
  text-decoration: none;
}

.logo-header {
  display: flex;
  flex-direction: row;
  gap: 0.4rem;
  justify-content: center;
  align-items: center;
  width: 18%;
}

.logo-header h1 {
  font-size: 1.3rem;
  font-weight: lighter;
  color: #fff;
}

.logo-header img {
  width: 15%;
}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 1rem;
  list-style: none;
}

.login-btn {
  border: 0.5px #fff solid;
  padding: 0.4rem;
}

.login-border a:hover {
  background-color: #fff;
  transition: 0.3;
}

.login-border li:hover {
  color: #000;
}

/* Modal */

.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  width: 100%;
  height: 100%;
  background-color: rgba(2, 2, 2, 0.8);
  color: #fff;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  background-image: url(../img/wallhaven-mdj5gm_1920x1200.png);
  background-position: center;
  background-color: rgba(6, 6, 6, 0.932);
  background-blend-mode: darken;
  margin: 10% auto;
  padding: 6rem;
  border: 1px solid #888;
  width: 38%;
  height: 55%;
  overflow: hidden;
}

.form-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.close-btn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-btn:hover,
.close-btn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.submit-btn {
  padding-top: 1rem;
}

.submit-btn a {
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 0.6rem;
  color: #ffffff;
}

.submit-btn a:hover {
  background-color: #806547;
  color: #fff;
}

/* Main Style */

.explore {
  height: 100vh;
  overflow: hidden;
}

.main-container {
  display: flex;
  flex-direction: column;
  padding-top: 0px;
}

.main-image {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0.7;
  background: center top url(../img/roman-background.png);
}

.main-image::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.gallery {
  background-color: #000;
}

.gallery img {
  display: block;
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

/* Main 2 - Explore */

.content-explore {
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
  height: 113%;
}

.content-explore h2 {
  font-size: 50px;
  font-family: "Pridi", serif;
  font-weight: lighter;
  opacity: 1;
  color: #bdbaba;
}

.content-explore p {
  color: #fff;
  font-size: 20px;
  font-family: "Julius Sans One", sans-serif;
  font-weight: lighter;
}

button {
  background: none;
  cursor: pointer;
}

.btn-explore:focus {
  outline: none;
}

.btn-explore {
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 10px 40px;
  opacity: 1;
}

.btn-explore h3 {
  font-family: "Pridi", serif;
  font-size: 30px;
  font-weight: lighter;
  color: #e2e1e1;
  text-align: center;
}

.btn-explore a {
  text-decoration: none;
}

/* Main 3 - Itens */

.title-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-gallery h2 {
  color: #fff;
  font-size: 2.2rem;
  font-family: "Julius Sans One", sans-serif;
  font-weight: lighter;
  margin: 0;
}

.artefatos-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.artefato {
  height: 100%;
  width: 100%;
  overflow: hidden;
  transform: scale(1);
  transition: transform 0.3s ease-out;
}

.artefato:hover {
  transform: scale(1.1);
}

.gallery-container {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 3fr 3fr 3fr;
  grid-template-rows: 2fr 2fr;
  width: 70%;
  height: 70%;
  margin: 0;
  padding: 3rem;
  overflow: hidden;
  gap: 2rem;
}

.card {
  max-width: 100%;
  max-height: 100vh;
  margin-top: 2rem;
}

.card img {
  width: 100%;
  height: 100%;
}

.btn-artefato {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-artefato a {
  text-decoration: none;
}

.btn-artefato button {
  padding: 10px 60px;
  font-size: 15px;
}

.card-text {
  color: #fff;
  padding-bottom: 0.8rem;
}

h5 {
  color: #fff;
}

.card-info {
  color: #fff;
  text-align: center;
  margin: 0;
}

.btn-artefato:hover {
  color: #fff;
  transition: 0.5s;
}

/* Footer */

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: url(../img/teste2corrigido.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(5, 5, 5, 0.3);
  background-blend-mode: darken;
  padding: 4rem;
  width: 100%;
  position: relative;
  opacity: 0.7;
  gap: 0.5rem;
}

.footer-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top,
    rgba(253, 253, 253, 0) 0%,
    rgb(7, 7, 7) 70%
  );
}

.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: relative;
  z-index: 2;
  gap: 0.4rem;
}

.footer-content h3 {
  font-size: 1.4rem;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.social-media img {
  width: 100%;
  filter: invert(1);
}

.social-media a {
  width: 5%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

.date {
  color: #fff;
}

/* Responsividade para 600px ou menor  */

@media (max-width: 600px) {
  .header-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  .logo-header {
    display: none;
  }

  .menu {
    display: block;
  }

  .menu img {
    display: flex;
    width: 2rem;
    padding: 0.4rem 0rem 0rem 0rem;
    opacity: 0.7;
  }

  .navbar {
    display: none;
    position: absolute;
    top: 100%; /* para posicionar a navbar logo abaixo do botão do menu */
    right: 0; /*  para alinhar a navbar à direita */
    font-size: 1rem;
    padding: 1rem;
  }
  .modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/wallhaven-mdj5gm_1920x1200.png);
    background-position: center;
    background-color: rgba(6, 6, 6, 0.932);
    background-blend-mode: darken;
    margin: 29% auto;
    padding: 6rem;
    border: 1px solid #888;
    width: 85%;
    text-align: center;
  }

  .content-explore h2 {
    font-size: 2.5rem;
  }

  .btn-explore {
    padding: 5px 20px;
  }

  .gallery-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 70%;
    height: 70%;
  }
}
